 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
  
  <h3 style="text-align: center;">{{aim}}</h3>
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 appHighlight class="text-center">Sign In</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="loginform" (ngSubmit)="login()">
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <!-- (change)="loginaccnt($event)" -->
                          <!-- #acno -->
                          <input type="text" name="acno" formControlName="acno" class="form-control" [placeholder]=inputplaceholder id="login_accno" required>
                          
                      </div>
                      <div *ngIf="(this.loginform.get('acno')?.errors)&&(this.loginform.get('acno')?.touched)"
                      style="color: red;margin-bottom: 8px;;">Invalid Account number</div>
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <!-- //(change)="passaccnt($event)" -->
                          <!-- #pswd -->
                          <input type="password" name="pswd" formControlName="pswd" class="form-control" placeholder="password" id="login_password" required>
                      </div>
                      <div *ngIf="(this.loginform.get('pswd')?.errors)&&(this.loginform.get('pswd')?.touched)"
                      style="color: red;margin-bottom: 8px;;">Invalid password</div>
                      <div class="form-group">
                          <input type="submit" value="Login" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register" href="./register.html">Register</a></p>
          </div>
      </div>
  </div>
